.formSubBlock {
	display: flex;
	width: 100%;
	margin-bottom: 24px;
}

.formSubBlock:first-child {
	margin-right: 48px;
}

.label {
	display: block;
	flex: 0 0 136px;
	font-weight: 500;
	color: #1e293b;
	padding-top: 4px;
}

.inputBlock {
	flex-grow: 1;
}

.input {
	width: 100%;
	border: none;
	background-color: #f4f6f8;
	border-radius: 4px;
	box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
	padding: 8px 6px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 4px;
}

.input:focus {
	outline: none;
}

.input::placeholder {
	color: rgb(148 163 184);
}

.datePicker {
	width: 100%;
	padding: 8px 6px;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	background-color: #f4f6f8;
	border-radius: 4px;
	box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
	margin-bottom: 4px;
}

.textarea {
	resize: none;
	padding: 8px 6px;
	width: 100%;
	border: none;
	background-color: #f4f6f8;
	border-radius: 4px;
	box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
	margin-bottom: 4px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

.textarea:focus {
	outline: none;
}

.textarea::placeholder {
	color: rgb(148 163 184);
}

.extraInfo {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.errorInfo {
	flex: 1;
	font-size: 10px;
	color: #ef4444;
}

.remainingSymbolsInfo {
	flex: 0 0 140px;
	text-align: right;
}

.errorMessage {
	margin: 0;
	font-size: 10px;
	color: #ef4444;
	width: 100%;
	height: 14px;
}

.remainingSymbolsInfo {
	font-size: 10px;
}

.button {
	padding: 12px 16px;
	border: none;
	border-radius: 8px;
	margin: 0 24px;
}

.buttonReset {
	background-color: #ef4444;
	color: #fff;
}

.buttonReset:hover {
	background-color: #f85a5a;
}

.buttonReset:active {
	background-color: #ef4444;
}

.buttonSubmit {
	background-color: #0284c7;
	color: #fff;
}

.buttonSubmit:hover {
	background-color: #0896dd;
}

.buttonSubmit:active {
	background-color: #0284c7;
}
