.modalWindow {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 16px;
	width: 400px;
	z-index: 9999;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
}

.closeButton {
	border: none;
	background-color: #fff;
	padding: 4px;
	float: right;
	font-size: 18px;
}

.messageBlock {
	text-align: center;
	padding: 32px 0 16px;
}
